{% extends "blog/base.html" %}
{% block content %}
    <h1>Post</h1>
    <form class="post-form" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-primary">Save</button>
    </form>
    <script>
        tinymce.init({
            mode: "textareas",
            theme: "silver",
            plugins: "spellchecker,directionality,paste,searchreplace,lists,link,image,media,emoticons,codesample",
            paste_data_images: true,
            toolbar: "undo redo | styleselect | bold underline italic strikethrough | blockquote | alignleft aligncenter alignright alignjustify | link image media | numlist bullist | emoticons | codesample | spellchecker",
            {#selector: 'textarea#codesample',#}
            select: "textarea",
            height: 500,
        });
        {#var editor = new MediumEditor(".editable");#}
    </script>
{% endblock %}
`
